body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 5px
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #CCC;
}

a {
    text-decoration: none;
}

/* Loader */
#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 60;
    background: url('/loading.gif');
    height: 64px;
    width: 64px;
    margin-top: -32px;
    margin-left: -32px;
}

/* Controls */
#controls {
    position: absolute;
    z-index: 40;
    border : 2px solid black;
    padding : 10px;
    background-color : white;
}
#controls input[type=text] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
#controls p {
    margin : 0;
}
#clean {
    display: none;
}
.colorCanvasInput {
    display: inline-block;
}

/* Canvas */
#canvasboard {
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
}
#layer {
    opacity: 0.5;
    z-index: 30;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Fork button */
a#fork-me img {
    z-index: 40;
}
