<template name="boardsList">
    <!--<p id="sort">Sort by &nbsp;&nbsp;&nbsp;<strong>creation date</strong></p>-->

    <div id="boards">
        {{#each boards}}
            <div class="board">
                <a href="{{pathFor 'board'}}">
                    {{#if thumbnail}}
                        <img class="u-max-full-width board-thumbnail" src="{{ getPreviewUrl thumbnail }}" />
                    {{else}}
                        <span class="no-preview">No preview</span>
                    {{/if}}

                </a>
                <p class="board-title"><a href="{{pathFor 'board'}}">{{ title }}</a></p>
                <p class="board-meta"><img src="default-avatar.png" />by
                    {{#if author.profile.name}}
                        <a href="{{pathFor 'profile' data=author}}" class="board-author">{{author.profile.name}}</a>
                    {{else}}
                        Anonymous
                    {{/if}}
                </p>
            </div>
        {{/each}}

        <br class="clear" />
    </div>
</template>
