<template name="controls">
    <div id="controls">
        {{> loginButtons}}
        <hr />
        <p><input type="text" value="{{title}}" name="title" /></p>
        <hr />
        <p class="drawers">{{drawers}} drawers online</p>
        <hr />
        <p>Right click to remove pixel</p>
        <hr />
        <p>Color <input type="color" value="#FF0000"></p>

        {{#if ownBoard}}
        <hr />
        <p id="clean">Clean board</p>
        <p><a href="" id="link-delete-board">[X] Delete board</a></p>
        {{/if}}
    </div>
</template>
