<template name="headerMini">
    <div id="header-mini" class="headerPixels">
        <div class="row">
            <div id="titles" class="six columns">
                <h2><a href="/"><i class="fa fa-home"></i> Squary</a></h2>
            </div>
            <div class="six columns padding10">
                <nav class="row">
                    {{#if loggedUser}}
                        <div class="six columns"><a href="/user/{{loggedUser._id}}">Profile</a></div>
                    {{else}}
                        <div class="six columns"><a href="/sign-in">Connexion</a></div>
                        <div class="six columns"><a href="/sign-up">Inscription</a></div>
                    {{/if}}
                </nav>
            </div>
        </div>
        <canvas id="header-canvas"></canvas>
    </div>
</template>
